.cards {
    min-height: calc(100vh - 549px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    column-gap: 17px;
    row-gap: 20px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .cards {
        min-height: calc(100vh - 472px);
    }
}

@media screen and (min-width: 1024px) {
    .cards {
        min-height: calc(100vh - 477px);
    }
}

@media screen and (min-width: 1280px) {
    .cards {
        grid-template-columns: repeat(3, 282px);
    }
}
