.popup__form-item_type_cards {
    margin: 0 0 20px;
    width: calc(100% - 2*20px);
    font-size: 12px;
    line-height: calc(15/12*100%);
}

@media screen and (min-width: 768px) {
    .popup__form-item_type_cards {
        margin: 0 0 30px;
        width: calc(100% - 2*36px);
        font-size: 14px;
        line-height: calc(17/14*100%);
    }
}