.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

/* HEADER */
.header {
    padding-top: 28px;
    min-height: calc(56px + 28px);
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(84,84,84,0.7);
    box-sizing: border-box;
}

.header__logo {
    margin-left: 27px;
    align-self: flex-start;
}

/* CONTENT */
.content {
    width: calc(100% - 2*(19px));
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PROFILE */
.profile {
    width: 100%;
    padding-top: 42px;
    padding-bottom: 36px;
    display: grid;
    justify-items: center;
}

.profile__avatar {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.profile__info {
    margin: 26px 0 33px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__info-edit {
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 10px;
    align-items: center;
}

.profile__name {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: calc(33/27*100%);
    letter-spacing: 2.2px;
    text-align: center;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__edit-button {
    padding: 0;
    background-color: transparent;
    height: 18px;
    width: 18px;
    border: 1px solid white;
    background-image: url(./images/edit_button.svg);
    background-size: 7.5px 7.5px;
    background-repeat: no-repeat;
    background-position: center;
    transition: opasity 0.5s ease-in;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__edit-button:focus {
    outline: none;
}

.profile__description {
    margin: 7px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(17/14*100%);
    letter-spacing: 0.5px;
    text-align: center;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__add-button {
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
    background-image: url(./images/add_button.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    transition: opasity 0.5s ease-in;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button:focus {
    outline: none;
}

/* ELEMENTS */
.elements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    column-gap: 17px;
    row-gap: 20px;
    justify-content: center;
}

.element {
    width: 282px;
    display: grid;
    grid-template-rows: repeat(2,auto);
    border-radius: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.element__photo {
    width: 100%;
}

.element__photo-info {
    margin: 0 15px 0 21px;
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.element__text {
    margin: 0;
    font-style: normal;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: calc(29/24*100%);;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like {
    padding: 0;
    background-color: transparent;
    border: none;
    height: 18px;
    width: 21px;
    background-image: url(./images/like.svg);
    background-size: cover;
    transition: opasity 0.5s ease-in;
}

.element__like:hover {
    opacity: 0.6;
    cursor: pointer;
}

.element__like:active {
    background-image: url(./images/like_active.svg);
}

.element__like:focus {
    outline: none;
    background-image: url(./images/like_active.svg);
}

/* FOOTER */
.footer {
    padding: 48px 0 36px;
    width: calc(100% - 2*(19px));
}

.footer__author {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(17/14*100%);
    color: #545454;
}

/* POPUP */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup_opened {
    display: flex;
}

.popup__container {
    display: flex;
    flex-direction: column;
}

.popup__close-button {
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0 5px 20px 0;
    height: 26px;
    width: 26px;
    align-self: flex-end;
    background-image: url(./images/close_button.svg);
    background-size: 36.7px 36.7px;
    background-position: center;
    transition: opasity 0.5s ease-in;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup__close-button:focus {
    outline: none;
}

.popup__form {
    width: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.popup__header {
    margin: 25px 0 75px;
    width: calc(100% - 2*22px);
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: calc(22/18*100%);
    color: #000000;
}

.popup__form-item {
    margin: 0 0 30px;
    padding: 0;
    height: 27px;
    width: calc(100% - 2*22px);
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(17/14*100%);
    color: #000000;
}

.popup__form-item:last-of-type {
    margin: 0;
}

.popup__form-item:focus {
    outline: none;
}

.popup__save-button {
    margin: 45px 0 25px;
    padding: 14px 0 14px;
    border: 0;
    width: calc(100% - 2*22px);
    background-color: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(17/14*100%);
    text-align: center;
    color: #FFFFFF;
    transition: opasity 0.5s ease-in;
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.popup__save-button:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    /* HEADER */
    .header {
        padding-top: 45px;
        min-height: calc(74px + 45px);
        width: 80%;
    }
    .header__logo{
        margin-left: 0;
        height: 33px;
        width: 142px;
    }

    /* CONTENT */
    .content {
        width: 80%;
    }
    
    /* PROFILE */
    .profile {
        padding-top: 40px;
        padding-bottom: 50px;
        width: 100%;
        grid-template-columns: auto 1fr auto;
        column-gap: 30px;
        align-items: center;
        justify-items: start;    
    }
    
    .profile__info {
        margin: 0;
        width: auto;
        align-items: flex-start;
    }
    
    .profile__info-edit {
        column-gap: 18px;
        align-items: center;
    }

    .profile__add-button {
        width: 150px;
        background-size: 22px 22px;
    }

    .footer {
        padding: 66px 0 60px;
        width: 80%;
    }

    /* POPUP */
    .popup__close-button {
        margin: 0 -40px 0 0;
        height: 40px;
        width: 40px;
        background-size: 56.6px 56.6px;
    }

    .popup__form {
        width: 430px;
    }

    .popup__header {
        margin: 34px 0 48px 0;
        width: calc(100% - 2*36px);
        font-size: 24px;
        line-height: calc(29/24*100%);
    }

    .popup__form-item {
        width: calc(100% - 2*36px);
    }

    .popup__save-button {
        margin: 48px 0 37px;
        width: calc(100% - 2*36px);
        font-size: 18px;
        line-height: calc(22/18*100%);
    }
        
}

@media screen and (min-width: 1024px) {
    /* PROFILE */
    .profile__name {
        font-size: 42px;
        line-height: 114%;
        text-align: start;
    }

    .profile__edit-button {
        height: 24px;
        width: 24px;
        background-size: 10px 10px;
    }
    
    .profile__description {
        font-size: 18px;
        line-height: calc(22/18*100%);
        letter-spacing: 0.5px;
        text-align: start;
    }

    /* FOOTER */
    .footer__author {
        font-size: 18px;
        line-height: calc(22/18*100%);;
    }
} 

@media screen and (min-width: 1280px) {
    /* HEADER */
    .header {
        max-width: 880px;
    }

    /* CONTENT */
    .content {
        max-width: 880px;
    }

    /* ELEMENTS */
    .elements {
        grid-template-columns: repeat(3, 282px);
    }

    /* FOOTER */
    .footer {
        max-width: 880px;
    }
    
}
