.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

.header {
    padding-top: 28px;
    min-height: calc(56px + 28px);
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(84,84,84,0.7);
    box-sizing: border-box;
}

.header__logo {
    margin-left: 27px;
    align-self: flex-start;
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 45px;
        min-height: calc(74px + 45px);
        width: calc((880/1280)*100%);
    }
    .header__logo{
        margin-left: 0;
        width: 142px;
        height: 33px;
    }
    
}

@media screen and (min-width: 1024px) {
    
} 

@media screen and (min-width: 1280px) {
    .header {
        max-width: 880px;
    }
}