.popup__close-button {
    padding: 0;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    background-image: url(../../../images/close_button.svg);
    background-position: center;
    transition: opasity 0.5s ease-in;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup__close-button:focus {
    outline: none;
}
