.popup__close-button_type_avatar {
    margin: 0 -27px -2px 0;
    height: 30px;
    width: 30px;
    background-size: 42.4px 42.4px;
}

@media screen and (min-width: 768px) {
    .popup__close-button_type_avatar {
        margin: 0 -38px 0 0;
        height: 40.7px;
        width: 40.7px;
        background-size: 57.5px 57.5px;
    }
}
