.popup__close-button_type_profile {
    margin: 0 5px 20px 0;
    height: 26px;
    width: 26px;
    background-size: 36.7px 36.7px;
}

@media screen and (min-width: 768px) {
    .popup__close-button_type_profile {
        margin: 0 -40px 0 0;
        height: 40px;
        width: 40px;
        background-size: 56.6px 56.6px;
    }
}
