.card__like-button {
    padding: 0;
    background-color: transparent;
    border: none;
    height: 18px;
    width: 21px;
    background-image: url(../../../images/like.svg);
    background-size: cover;
    transition: opasity 0.5s ease-in;
}

.card__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.card__like-button:focus {
    outline: none;
}
