.header {
    padding-top: 28px;
    min-height: calc(56px + 28px);
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(84,84,84,0.7);
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 45px;
        min-height: calc(74px + 45px);
        width: 80%;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 880px;
    }
}
