.popup__form {
    width: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .popup__form {
        width: 430px;
    }
}
