.popup__form-item {
    padding: 0 0 9px 0;
    width: calc(100% - 2*20px);
    font-size: 12px;
    line-height: calc(15/12*100%);
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.popup__form-item:last-of-type {
    margin: 0;
}

.popup__form-item:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    .popup__form-item {
        width: calc(100% - 2*36px);
        font-size: 14px;
        line-height: calc(17/14*100%);
    }
}
