.popup__close-button {
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0 5px 20px 0;
    height: 26px;
    width: 26px;
    align-self: flex-end;
    background-image: url(./close_button.svg);
    background-size: 36.7px 36.7px;
    background-position: center;
    transition: opasity 0.5s ease-in;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup__close-button:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    .popup__close-button {
        margin: 0 -40px 0 0;
        height: 40px;
        width: 40px;
        background-size: 56.6px 56.6px;
    }
}
